*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/Mistsubishi\ Lancer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.discription{
    color: white;
    font-size: 1.2rem;
    width: 500px;
    height: 200px;
    border: 5px solid;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.discription div{
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.discription p{
    font-size: larger;
    font-style: bold;
}
.discription span{
    font-style: normal;
    font-size: 1.0rem;
    letter-spacing: 2px;
}